body {
	background: url(../images/bg.gif) no-repeat #E7E7E7;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	
}

body:after {
	background: rgba(134, 6, 71, 0.7);
}

.topleftcorner{
	position:absolute;
	top:0;
	left:0;
   }
.toprightcorner{
	position:absolute;
	top:1%;
	right:2%;
	text-align: right;
	align-items: right;
	margin-bottom: 1px;
	margin-left : 1px;
	color:white;
	line-height: 99%;
	font-family: 'Eater', cursive;
   }
   .toprightcorner h4{
	font-size: 1.1em;
	font-family: 'Asul', sans-serif;
   }
.bottomleftcorner{
		margin-bottom: 1px;
		margin-left : 1px;
		width: auto;
		height: auto;
		color: black;
		position: fixed;
		bottom: 2%;
		left: 2%;
		line-height: 99%;
		font-family: 'Bungee Shade', cursive;
	}
.bottomleftcorner h3{
		font-size: 1.1em;
		font-family: 'Asul', sans-serif;
	}

