@font-face {
	font-family: GothamBlack;
	src: url('../fonts/GothamBlack.otf') format("opentype");
}

@font-face {
	font-family: GothamLight;
	src: url('../fonts/Gotham-Light.otf') format("opentype");
}
@font-face {
	font-family: Explore;
	src: url('../fonts/Explore.ttf') format("truetype");
}
@font-face {
	font-family: Tinder;
	src: url('../fonts/ChaletNewYorkNineteenSeventy.ttf') format("truetype");
}
@font-face {
	font-family: Danger;
	src: url('../fonts/AnotherDangerSlanted.otf') format("opentype");
}
body {
	min-height: 100%;
	margin: 0;
}

html,
body,
.container1 {
	height: 100%;
}

.container1 {
	width: 100%;
}

#left,
#right {
	display: inline-block;
}

#left,
#right {
	width: 46%;
	height: 95%;
}

.profile p {
	text-align: justify;
}

.column {
	float: left;
	height: 95%;
	padding: 2%;
}

/* Clear floats after the columns */
.container1:after {
	content: "";
	display: table;
	clear: both;
}

.checked {
	color: orange;
}

.stars {
	margin: 20px 0;
	font-size: 24px;
	color: #444;
	background-color: aliceblue;
	width: 20%;
	text-align: center;
	display: inline;
}

/* Three column layout */
.side {
	float: left;
	width: 15%;
	margin-top: 10px;
}

.middle {
	margin-top: 10px;
	float: left;
	width: 70%;
}

/* Place text to the right */
.right {
	text-align: right;
}

.row {
	font-size: 20px;
	font-family: Tinder;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

/* The bar container */
.bar-container {
	width: 100%;
	background-color: #f1f1f1;
	text-align: center;
	color: white;
	height: auto;
}

/* Individual bars */
.bar-5 {
	width: 60%;
	height: 18px;
	background-color: red;
}

.bar-4 {
	width: 30%;
	height: 18px;
	background-color: red;
}

.bar-3 {
	width: 10%;
	height: 18px;
	background-color: red;
}

.bar-2 {
	width: 4%;
	height: 18px;
	background-color: red;

}

.bar-1 {
	width: 15%;
	height: 18px;
	background-color: red;
}

/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 400px) {

	.side,
	.middle {
		width: 100%;
	}

	.right {
		display: none;
	}
}

.one h1 {
	text-align: center;
	font-size: 30px;
	font-weight: 300;
	color: #fff;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-family: GothamBlack;
	display: grid;
	grid-template-columns: 1fr max-content 1fr;
	grid-template-rows: 27px 0;
	grid-gap: 20px;
	align-items: center;
}

.one h1:after,
.one h1:before {
	content: " ";
	display: block;
	border-bottom: 1px solid #c50000;
	border-top: 1px solid #c50000;
	height: 5px;
	background-color: #f8f8f8;
}

.css-shadow {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 2px solid #cddc39;
	filter: drop-shadow(0 0 8px #ff5722);
}

.profile {
	width: 96%;
	height: auto;
	background: #fff;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	position: relative;
	padding: 1% 2%;
	font-family: GothamLight;

}

.center {
	display: block;
	justify-content: center;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-top: 2%;
}

.rate {
	height: 46px;
	display: inline-block;
	margin-bottom: -3%;
	margin-top: -5%;
}

.rate:not(:checked)>input {
	position: absolute;
	top: -9999px;
}

.rate:not(:checked)>label {
	float: right;
	width: 1em;
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;
	font-size: 30px;
	color: #ccc;
}

.rate:not(:checked)>label:before {
	content: '★ ';
}

.rate>input:checked~label {
	color: #ffc700;
}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
	color: #deb217;
}

.rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
	color: #c59b08;
}

/* desert style div */
.desert {
	background-color: #f8f8f8;
	border: 1px solid #f8f8f8;
	border-radius: 5px;
	padding: 10px;
	margin: 10px;
}

.two h1 {
	text-align: center;
	background: rgb(250, 97, 89);
	background: radial-gradient(circle, rgba(250, 97, 89, 1) 50%, rgba(18, 98, 89, 1) 100%);
	color: #fff;
	font-family: Danger;
}

.bulletin_board {
	background: rgb(2, 0, 36);
	background: linear-gradient(17deg, rgba(2, 0, 36, 1) 0%, rgba(18, 98, 89, 1) 82%, rgba(0, 0, 0, 1) 100%);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	position: relative;
	padding: 1% 2%;
	color: #fff;
	height: 89%;
}

.bulletin_board p {
	text-align: center;
	color: #D4AF37;
	font-size: 20px;
	font-family: Explore;
}

.center1 {
	display: block;
	justify-content: center;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.circle {
	width: 500px;
	height: 500px;
	line-height: 500px;
	border-radius: 50%;
	font-size: 50px;
	color: #fff;
	text-align: center;
	background: #000;
	align-items: center;
	display: block;
}