body {
	background: url(../images/bg.gif) no-repeat #000;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: 30%;
	color: white;
	font-family: 'Orbitron', sans-serif;
}

.center {
	text-align: center;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);

	margin: auto;
}

img {
	max-width: 63%;
}

.circle {
	width: 500px;
	height: 500px;
	line-height: 500px;
	border-radius: 50%;
	font-size: 50px;
	color: #fff;
	text-align: center;
	background: #000;
	align-items: center;
	display: block;
}

.padding-top {
	padding-top: 250%;
	color: #fff;
}

.middle-left{
	position: absolute;
	top: 50%;
	left: 1%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	text-align: center;
}

.middle-right{
	position: absolute;
	top: 50%;
	right: 1%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	text-align: center;
}

.bottom-middle {
	position: absolute;
	bottom: 5%;
	left: 50%;
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	text-align: center;
}

.top-middle{
	position: absolute;
	top: 6%;
	left: 50%;
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	text-align: center;
}