body {
	background: url(../images/bg_new.png) no-repeat #E7E7E7;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	font-family: 'Audiowide', cursive;
	font-family: 'Rubik Glitch', cursive;

}

body:after {
	background: rgba(134, 6, 71, 0.7);
}

.container1 {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	background: transparent url(../images/pattern.png) repeat top left;
	z-index: 2;
}

.uppercase {
	text-transform: uppercase;
	padding-bottom: -20px;
}

.wrap {
	width: 80%;
	margin: 0 auto;
}

ul#countdown {
	text-align: center;
	/* padding-top: 15px; */
}

ul#countdown span {
	color: #FFF;
	font-size: 4em;
	font-weight: bold;
	width: 80px;
	height: 94px;
	text-align: center;
	display: inline-block;
	font-family: 'Bebas Neue', cursive;
}

ul#countdown h3 {
	color: #fff;
}

ul#countdown li {
	display: inline-block;
	width: 10%;
	font-family: 'Bebas Neue', cursive;
}

.content-header h1 {
	color: #fff;
	font-size: 4em;
	font-weight: inherit;
	padding-top: 10%;
}

.content-header p {
	color: #fff;
	font-size: 1em;
	font-weight: inherit;
	word-spacing: 0.2em;
}

.content-header {
	text-align: center;
	margin-top: 10em;
}

.btn-group {
	background-color: transparent;
	border: none;
	color: white;
	padding: 15px 12px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	cursor: pointer;
	float: center;
	position: fixed;
	left: 30%;
	width: 40%;
}

.button1 {
	display: inline-block;
	border-radius: 5px;
	background-color: #4682b4;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 28px;
	padding: 20px;
	width: 200px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
	box-shadow: -5px 10px 18px #000;
}

.button2 {
	display: inline-block;
	border-radius: 5px;
	background-color: #ff9912;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 28px;
	padding: 20px;
	width: 200px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
	box-shadow: 5px -7px 10px #fff;
}

.button1 span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
	font-family: 'Rubik Glitch';
}

.button1 span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.button1:hover span {
	padding-right: 25px;
}

.button1:hover span:after {
	opacity: 1;
	right: 0;
}

.button2 span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
	font-family: 'Rubik Glitch';
}

.button2 span:after {
	content: '\00ab';
	position: absolute;
	opacity: 0;
	top: 0;
	left: -20px;
	transition: 0.5s;
}

.button2:hover span {
	padding-left: 25px;
}

.button2:hover span:after {
	opacity: 1;
	left: 0;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.bottom-left {
	position: absolute;
	bottom: 100px;
	left: 200px;
}

.top-right {
	position: absolute;
	top: 100px;
	right: 200px;
}

a {
	text-decoration: none;
	vertical-align: auto;
}